.wrapper-div-110 {
  /* .gradient-0 {
    background: linear-gradient(136.24deg, #6ed87aff 0%, #2b7633ff 100%);
  } */
  position: relative;
  max-width: 288px;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}
.our-partners-112-0 {
  font-size: 16px;

  line-height: 16px;

  font-family: Poppins;
  font-weight: 600;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}
.c-123-113-0 {
  font-size: 56px;

  line-height: 56px;

  font-family: Poppins;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}
.accusamus-dolor-114-0 {
  font-size: 14px;

  line-height: 14px;

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}
